@use '../foundation/foundation';
@use '../foundation/variables';
@use '../project/contact';

.c-comment{
    margin: 60px 0;
    &__area{
    @extend .p-contact;
    background: url(../img/p0337_l.jpg) repeat;
    margin: 30px 0;
    }
    &__info{
        display: flex;
        font-size: 1.6rem;
    }
    &__author{
        margin-right: 10px;
    }
    &__content{
        background:variables.$gray;
        padding: 20px;
        border-radius: 10px;
        position: relative;
        margin-top: 15px;
        &:before {
            content: "";
            position: absolute;
            top: -30px;
            left: 10%;
            margin-left: -15px;
            border: 15px solid transparent;
            border-bottom: 15px solid variables.$gray;
        }
    }
    &-pagination{
        display: flex;
        justify-content: space-between;
        &__prev,&__next{            
            display: inline-block;
            font-size: 1.6rem;
            &:hover{
                background-color: variables.$yellow;
            }
        }
    }
    &__form,.comment-form-cookies-consent,.form-submit,.logged-in-as{
        padding: 10px 30px;
        margin: 0px;
        font-size: 1.6rem;
    }

}
