@use '../foundation/foundation';
@use '../foundation/variables';
@use 'component';

.c-post{
    h2{
        @extend .c-title;
    }
    h3{
        @extend .c-title--noborder;
        font-size: 2.4rem;
    }
    h4,h5,h6{
        @extend .c-title--small;
        @include foundation.blockmargin;
    }
    p{
        @extend .c-text;
        @include foundation.blockmargin;
    }
    .has-{
        &huge-font-size{
            font-size:4.2rem ;
        }
        &large-font-size{
            font-size: 3.6rem;
        }
        &small-font-size{
            font-size: 1.3rem
        }
    }
    .wp-block-media-text__media img{
        object-fit: cover;
    }
    .wp-block-pullquote{
        background-color: variables.$gray;
        padding:10px 20px;
        @include foundation.blockmargin;

        
        p{
            padding:30px 0;
            margin: 0;
        }
        cite{
            display: inline-block;
            border-bottom: solid 1.3px variables.$blue;
            margin-bottom: 30px;
        }
    }
    .wp-block-image{
        text-align: center;
        @include foundation.blockmargin;
        img{
            object-fit:cover;
            width:100%;
            height:auto;
            @include foundation.media_tablet{
                width:auto;
            }
        }
    }
    .alignleft{
        display: block;
        margin-left: 0;
        margin-right: auto;
    }
    .aligncenter{
        display: block;
        margin: 0 auto;
    }
    .alignright{
        display: block;
        margin-right: 0px;
        margin-left: auto;
    }
    .wp-block-media-text{
        .wp-block-media-text__media{
        align-self: start;
            img{
                width: 100%;
                height: auto;
                object-fit: cover ;
            }
        }
        .wp-block-media-text__content p{
            margin:0;
        }
    }
    .wp-caption{
        width: 100%;
        height: 100%;
        &-text{
            color:variables.$blue;
        }
    }
    .gallery-caption{
        color:variables.$blue;
    }
    
    ul,ol{
        @include foundation.blockmargin;
        padding-inline-start: 1.6rem;
        li{
            @extend .c-text;
        }
        @at-root li >ul{
            padding-inline-start: 1.6rem;
        }
    }
    ul{
        list-style: outside;
        li{
            list-style:outside;
        }
    }
    ol{
        list-style-type: decimal;
        li{
        list-style: decimal;
        }
    }
    
    pre{
        background-color: variables.$gray;
        font-size: 1.6rem;
    }
    
    table{
        border-collapse: separate;
        border-spacing:0px;
        border-right: 2px solid variables.$blue;
        border-bottom: 2px solid variables.$blue;
            td{
                border: solid 2px variables.$blue;
                padding:28px 30px;
                border-right: 0px;
                border-bottom: 0px;
                font-size: 1.6rem;
            }
        }
    a{
        font-size: 1.6rem;
        &:hover{
            background: variables.$yellow;
        }
        &.customize-unpreviewable{
            font-size:1.1rem;
        }
    }
    .tab-caption-box-label{
        font-size: 1.6rem;
    }
    .wp-block-media-text{
        margin: 80px 10px 180px;
        @include foundation.media_tablet{
            display: flex;
        }
        @include foundation.media_PC{
            margin:120px 20px 220px;
        }
        .wp-block-media-text__media{
            @include foundation.media_tablet{
                width: 50%;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .wp-block-media-text__content{
            padding: 20px 30px;
            background-color: variables.$gray;
            @include foundation.media_tablet{
                width: 50%;
            }
        }
    }
    .wp-block-table{
        padding-bottom: 30px;
        margin: 30px 0 0 0;
        td{
            font-size: 1.4rem;
            padding: 20px 0;
        }
    }
    iframe{
        margin-top: 40px;
        height: 125vw;
        width: 100%;
        overflow:hidden;
        @include foundation.media_PC{
            height: 360px;
        }
        @include foundation.media_tablet{
            height: 230px;
        }
    }
    .tab-caption-box{
        &-label{
        background:#2B3DB1;
        color:white;
        display:inline-block;
        padding:10px 5px;
        border:solid #2B3DB1;
        border-radius:10px 10px 0px 0px;
        }
        &-content{
            border:solid 5px;
            border-radius:0px 20px 20px 20px;
            p{
                margin:20px;
                font-size:14px;
            }
        }
    }
}
