@use '../foundation/foundation';
@use '../foundation/variables';
@use '../component/component';

.p-archive{
    @include foundation.media_tablet{
        display: flex;
    }
    &__post{
        @include foundation.media_tablet{
            width: 80%;
        }    
    }
    &__option{
        @include foundation.media_tablet{
        width: 20%;
        height: 100%;
        margin-left: 30px;
        position: sticky;
        top:calc(10vh + 50px + 20px);
        }
        li{
            @extend .c-text;
            margin-bottom: 5px;
        }
    }
    &__monthly,&__category{
        margin-bottom: 50px;
    }
    &__form{
        label{
            span{
                border:solid 2px variables.$blue;
                cursor:pointer;
            }
            input{
                display: none;
                &:hover + span{
                    box-shadow: 4px 4px variables.$gray;
    
                }
                &:active + span{
                    box-shadow: none;
                    transform: translate(4px,4px);
                }
                &:checked + span{
                    background-color: variables.$gray;
                }
            }
    
        }
    }

}
