@use '../foundation/foundation';
@use '../foundation/variables';
@use '../component/component';

.p-archive{
    @include foundation.media_tablet{
        display: flex;
    }
    &__post{
        @include foundation.media_tablet{
            width: 80%;
        }    
    }
    &__form{
        label{
            span{
                border:solid 2px variables.$blue;
                cursor:pointer;
            }
            input{
                display: none;
                &:hover + span{
                    box-shadow: 4px 4px variables.$gray;
    
                }
                &:active + span{
                    box-shadow: none;
                    transform: translate(4px,4px);
                }
                &:checked + span{
                    background-color: variables.$gray;
                }
            }
    
        }
    }

}
