@use '../foundation/foundation';
@use '../foundation/variables';
@use '../component/component';

.p-search{
    margin: 10px 0;
    &__form{
        background-color:variables.$gray;
        padding: 10px 5px;
        border-radius: 5px;
        margin-right: 10px;
        color: variables.$blue;
    }
    input:-webkit-autofill {
        box-shadow: 0 0 0 1000px variables.$gray inset;
        -webkit-text-fill-color: variables.$blue;
        &::-webkit-search-cancel-button {            /*  指定idのinput-searchのみ対象 */
            -webkit-appearance: none;
        }    
    }
    &__button{
        background-color: variables.$blue;
        color: white;
        padding: 5px;
        border-radius: 5px;
    }

}
