@use '../foundation/foundation';
@use '../foundation/variables';

.p-single{
    @include foundation.media_tablet{
        display: flex;
    }    
    &__content{
        @include foundation.media_tablet{
            width: 70%;
        }   
    }
    img{
        width: 100%;
    }
}
